In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('../FDS-CourseOne/datasets/017DataFile.csv')

data.describe()

       Male Mutant  Female Mutant  Male Wild Type  Female  Wild Type
count    10.000000      10.000000       10.000000          10.000000
mean     11.579094       9.390892       19.895356          24.233268
std       0.970163       0.889904        0.966323           1.241408
min      10.367770       8.250013       18.074795          22.607487
25%      10.960681       8.622278       19.561394          23.132318
50%      11.515251       9.458141       20.139792          24.227687
75%      11.735566       9.802902       20.356975          25.297194
max      13.412580      10.892394       21.215148          25.946384

In [59]:
data_melt = data.melt(value_vars=data.columns)
print(data_melt.head())

data_tidy = data_melt \
    .assign(sex = lambda x: x.variable.str.split(" ", n = 1).str[0],
            type = lambda x: x.variable.str.split(" ", n = 1).str[1],
            ) \
    .drop('variable', axis=1)
#
print(data_tidy)

      variable      value
0  Male Mutant  10.485451
1  Male Mutant  11.747948
2  Male Mutant  13.412580
3  Male Mutant  12.910095
4  Male Mutant  10.367770
        value     sex        type
0   10.485451    Male      Mutant
1   11.747948    Male      Mutant
2   13.412580    Male      Mutant
3   12.910095    Male      Mutant
4   10.367770    Male      Mutant
5   11.698422    Male      Mutant
6   11.583153    Male      Mutant
7   11.447349    Male      Mutant
8   10.852276    Male      Mutant
9   11.285897    Male      Mutant
10   8.250013  Female      Mutant
11   8.453839  Female      Mutant
12   9.706605  Female      Mutant
13   9.522116  Female      Mutant
14   8.583212  Female      Mutant
15   9.835002  Female      Mutant
16  10.532096  Female      Mutant
17   9.394166  Female      Mutant
18   8.739473  Female      Mutant
19  10.892394  Female      Mutant
20  20.127063    Male   Wild Type
21  20.068147    Male   Wild Type
22  21.215148    Male   Wild Type
23  20.706416    Male   Wild Type
24  18.074795    Male   Wild Type
25  20.367624    Male   Wild Type
26  20.152521    Male   Wild Type
27  19.392476    Male   Wild Type
28  18.524341    Male   Wild Type
29  20.325026    Male   Wild Type
30  25.946384  Female   Wild Type
31  23.464870  Female   Wild Type
32  22.989480  Female   Wild Type
33  25.324376  Female   Wild Type
34  22.607487  Female   Wild Type
35  23.052187  Female   Wild Type
36  25.369037  Female   Wild Type
37  23.372709  Female   Wild Type
38  25.215646  Female   Wild Type
39  24.990505  Female   Wild Type